@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro');

#particles-js {
    height: 100%;
    background: rgb(80, 78, 78);

    z-index: -1;
    position: absolute;
    top:0px;
    left:0px;
    width: 100%;
}

body {
  text-align: center;
  height: 100%;
  width: 100%;
  padding-top: 70px;
}

h1 {
  margin: 0px;
  font-family: 'Source Code Pro', monospace;
  color: black;
  font-size: 4em;
}

.tag {
    color: white;
    font-family: 'Source Code Pro', monospace;
    font-size: 2em;
    margin: 0px;
    font-weight: lighter;
}

.taganimation {
    color: white;
    font-family: 'Source Code Pro', monospace;
    font-size: 2em;
    display:inline;
    margin:0px;
    font-weight: lighter;
}

.button {
    text-align: center;
    cursor: pointer;
    border: 2px solid white;
    background-color: grey;
    color: white;
    padding: 14px 28px;
    font-size: 25px;
    margin: 10px;
    margin-top: 4rem;
  }

  .divider {
    width: 5px;
    height: auto;
    display: inline-block;
  }
  
  .button:hover {background-color: black}
  
  .button:active {
    background-color: black;
    box-shadow: 0 5px #666;
  }


  div.social i{
    color:#fff;
    font-size:45px;
    padding:10px;
    transition: background 0.3s;
    margin-top: 90px;
  }
  div.social i:hover{
    background:#fff;
    color:#323840;
    border-radius:5px;
  }